body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/* .box { */
/* border: 5px solid tomato;
    padding: 20px;
    margin: 20px ;
    margin-bottom: 50px; */
/* відступ між блоками */
/* background-color: tomato */
/* можна використовувати для тимчасово для розуміння дистанції між блоками,
    але вчитель рекомендує: */
/* outline: 2px solid tomato; */
/* обводка яка робиться тимчасово для розуміння дистанції між блоками та
    ні на що не впливає (не впливає на геометрію) */
/* } */

/* У блока э ширина (ширина сторінки) (порту в ній), але не має конкретної висоти.
Якщо в блоку не має контенту то його width 1180px, а hight 0px */
/* Якщо потрібно зробити "оформітєльний/декоративний" елемент то в такому випадку можна
задавти висоту, але якщо в елемнті є текси то цього робити категорично
не можна. */

/* Строчні елементи  */
/* Строчні елементи display: inline  ( не мають висоти та ширини) ці показники визначаються
/* наявним контентом */
/* елементи йдуть по строці один за одним (поки не зроз, напевно це елемнти
 які є частиною іншого елемента і наявні в рядку вже існуючого контенту,
 як наприклад span (оновлення! так, але не тільки так, дивись приклад у коментарі до 
 lessin5blocks.htm) */
/* На них не працює геометрі: ширина висота margin і тд... */
/* Приклади: a img span strong b та ін */

/* Блочні елементи */
/* display: block  */
/* Приклади: h1 p section ul li div header та інш...*/
/* Прямокутні області які послідовно йдуть одна за одною */
/* Блоки завжди займають та наслідують всю строку */
/* Можна встановлювати ширину блоку, але тоді залишок строки буде займати  */
/* margin */

/* Строчно-блочні елементи  */
/* display: inline-bloke */
/* Ширина залежить від наявного контенту, але ці параметри можна встановити */
/* Цим елементам можна встановити будь-яку геометрію: ширину, вистоту, поля, рамки, отступи */
/* Використовується для оформітєльних елементів */

/* У БІЛЬШОСТІ ВИПАДКІВ ОГОЛОШУВАТИ БРАУЗЕРУ ТИП ЕЛЕМЕНТУ НЕ ПОТРІБНО ЯКЩО ЦЕ
НЕ ГІБРИД, ТОБТО display: inline-bloke */

/* .example {
    margin-bottom: 20px;
}

.example-two {
    margin-top: 40px;
} */

/* (Селектор фейковий - дляприкладу) */
/* Між двома зустрічними margin брузер автоматично обирає більший */
/* Тобто (якщо подумати, як каже вчитель) то не має сенсу встановлювати обидва показники
 в один сеелектор */

/* КАТЕГОРИЧНО НЕ МОЖНА робити margin відступи між блоками встановлюючи margin вкладеним елементам "дітям",
  а не "батьківським" тегам (класам)  */
/* Це  призводить до того що margin вкладеного в блок елемента залазить на інші блоки та додадково відсовує
   весь батьківський блок */
/* У вкладених елементів може бути свій вбудований margin тож перед тим
  як робити відступ між блоками може бути потрібно прибрати margin першого
  елемента в блоці (приклад h1) */
/* НЕ ПЛУТАЙ margin у вкладених елементах (дітях) може бути (для відступу між ними),
  але для того щоб дистанціювати блоки один від одного потрібно давати 
  margin саме батьківському тегу (класу) */

/* h2 {
    margin-top: 0;
  } */

/* Margin можна пожититись в стилях incept */

.btn {
    display: inline-block;
    /* display: inline-block; додаєм бо <a> строчний елемент */
    /* Щоб надати йому можливості геометрії */
    /* padding спочатку вертикальний, а потім горизонтальний */
    /* В padding заливається background-color */
    padding: 20px 40px;
    background-color: tomato;
    color: white;
    border: 2px solid black;
    border-radius: 3px;
    text-decoration: none;
    /* прибрали підкреслювання */
  }

  .btn:hover, .btn:focus{
    background-color: blue;
    color: white;
    border-color: yellow;
  }