/* УЗАГАЛЬНЕННЯ
 якщо у нас є щось однакове по зовнішньому виду, але
 розрізняється за дрібними модифікаціями то використовується
 "базовий стиль" + "додатковий" який його модифікує
 (перевизначає або доповнює базовий стиль) */

/* цвет основного текста #000000 */
/* вторичный цвет текста  rgba(0, 0, 0, 0.8);
 */
/* белый #FFFFFF  */
/* акцент #18A0FB */
/* вторичный цвет фона #F5F5F5; */

:root {
  --primary-text-color: rgba(0, 0, 0, 0.8);
  --title-text-color: #000000;
  --accent-color: #18a0fb;
  --primary-white-color: #ffffff;
}

body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);

  /* Після основногу шрифту обов'язково написати
  сімейство шрифтів на випадок (інтернет відвалився,
  файлікі не прийшли, шрифт не завантажився). Потрібно
  обрати будь-який котрий є на системі користувача 
  (без "засєчєк") sans-serif це універсальне запасне
  сімейство шрифтів */
  /*  Sans serif "без засєчєк"
      serif      "с засєчкамі"
      mono (mono space)  "коли потрібно описати код"
      обирати відповідно до основного (без, с, mono)   
      */
  /* Щоб зрозуміти якого типу шрифт можна або загуглити 
      або подивитись у зумі на шрифт. На ньому буквально видно
       засєчкі (Roman font) шрифт без засєчєк ще називають "рублений"
       Доручі на google fonts теж є */

  font-family: Montserrat, sans-serif;
  letter-spacing: -0.015em;
  font-size: 18px;
  line-height: 1.67;

  /* Наступним чином можна змінити всі або просто
  потрібні заголовки. Називається "Типографія" */

  /* h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: Comfortaa;
  } */
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1440px;
  background-color: blanchedalmond;
  outline: 2px solid slateblue;
}

/* Logo */

.logo {
  color: var(--title-text-color);
  /* Як і минулому випадку додадково додаємо сімейство шрифтів
  на випадок збою роботи сайту
    Comfortaa шрифт курсівний тож додаємо сімейство cursive  */
  font-family: Comfortaa, cursive;

  /* Перш за все вся ця хуйня береться з figma/code/css */

  /* font-style: normal; Писати не треба бо він й так 
       стоїть за замовчуванням (400)*/
  /* font-weight: normal;  те саме (400)
       якщо показник інший то треба писати
       ВАЖЛИВО вчитель каже,що font-weight: normal; хуіта 
       і треба писати число. Взагалі це та сам жирність шрифту
       100 - 900. Браузер іноді пропонує по дефолту іншу жирність
       тож є сенс перевіряти цей показник в insert/user agent stylesheet
       та у вкладці computed*/
  /* font size завжди повинен бути цілим числом (округляйя якщо треба) */
  font-size: 28px;
  /* line-height: 32px; Щоб дізназнатись цей показник треба
  32/28    line-height/font-size */
  line-height: 1.14;
  text-decoration: none;
  /* text-decoration: none; прибирає базове підкреслення посилань
  (лише посилань)  */
}

.logo:hover {
  color: var(--accent-color);
}

/* Site nav */

/* Тег button не наслідує головний шрифт font family
для того щоб кнопка унаслідувала шрифт потрібно зробити 
наступним чином
написати font-family: inherit; в селекторі
тобто 
button {
font-family: inherit;
}
 */

.site-nav .link {
  color: var(--accent-color);

  font-weight: 500;
  font-size: 15px;
  line-height: 1.2;
  text-decoration: none;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--title-text-color);
}

/* Ми робимо селектор важкішим (спеціальність 0.0.2.0) для того щоб на поточній
сторінці слово-посилання було чорним перманентно */
/* "Ефект поточної сторінки" */
/* CSS файл піднаєднали до обох HTMLок (сторінок сайту) */
.site-nav .link.current {
  color: var(--title-text-color);
}

/* Index html */
/* <ul class="site-nav list">
          <li><a href="" class="link current">Features</a></li>
          <li><a href="" class="link">Preing</a></li>
          <li><a href="/Community.html" class="link">Community</a></li>
          <li><a href="" class="link">Support</a></li>
        </ul> */

/* HTML Community */
/* <ul class="site-nav list">
          <li><a href="" class="link">Features</a></li>
          <li><a href="" class="link">Preing</a></li>
          <li><a href="/Community.html" class="link current">Community</a></li>
          <li><a href="" class="link">Support</a></li>
        </ul> */

/* 

ul {
    list-style: none;
}

 цим варіантом можна знести стиль сторінки (крапочки)
 з усіх ul елементів та у разі небхіодності додавати окремо,
 але наступний варіант більш гнучкий */

.list {
  list-style: none;
}

/* Hero */

.hero-title {
  color: var(--title-text-color);
  font-weight: 400;
  font-size: 56px;
  /* line-height при ділення округляється до сотих
  округляй правильно - третім числом до другого (тисячною до сотої) */
  line-height: 1.43;
  /* На макеті вижно що текст центрований тож вказуємо це відповідно
  якщо центрації не маємо то не копіюємо це з Figma */
  text-align: center;
  /* доручі кнопки (тег button) не центруються бо кнопка це не текст */
}

/* Section */

.section-title {
  color: var(--title-text-color);

  font-weight: 400;
  font-size: 48px;
  line-height: 1.5;
  text-align: center;
}

.section-description {
  font-size: 36px;
  line-height: 1.39;
}

/* Features и Examples */
/* Це теж саме що й якби ми встановили два окремих селектори */

.feature-list .title,
.work-list .title {
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 24px;
  line-height: 1.5;
}

/* Button */

.button {
  color: var(--title-text-color);
  background-color: var(--primary-white-color);
  padding: 11px 34px;
  border-radius: 6px;
  display: inline-block;
  text-align: center;
  min-width: 130px;
  /* min-width це мінімальна ширина елемента , яка у разі додавання
  контенту (у нашому випадку тексту) робить елемент ширшим, а не
  переносить текст на інший рядок */

  font-weight: 500;
  font-size: 15px;
  line-height: 1.2;
  text-decoration: none;
}


.button.secondary {
  color: var(--accent-color);
  background-color: var(--primary-white-color);
  border: 1px solid var(--accent-color);
}

.button.primary {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}


/* Footer */

.copyright {
  font-size: 15px;
  line-height: 1.6;
}

.social > .label {
  font-size: 15px;
  line-height: 1.6;
}
